# Para el caso de nuestro trabajo

Usando el API de Kaggle para descargar le dataset del siguiente URL 'https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset'

In [5]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\ifrid\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\ifrid\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\ifrid\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\ifrid\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\ifrid\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ifrid\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ifrid\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\ifrid\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Comando de API de Kaggle descrito en su documentaciÃ³n
# Doc de la API ---> "https://www.kaggle.com/docs/api#creating-and-maintaining-datasets"
!kaggle datasets download -d pavansubhasht/ibm-hr-analytics-attrition-dataset

Dataset URL: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset
License(s): DbCL-1.0
ibm-hr-analytics-attrition-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [7]:
import zipfile

# Nombre del archivo ZIP
zip_file = 'ibm-hr-analytics-attrition-dataset.zip'

# Descomprimir el archivo
with zipfile.ZipFile(zip_file, 'r') as zip_ref:
    zip_ref.extractall()

In [8]:
# Importamos pandas para trabajar con DataFrames

import pandas as pd
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

# Visualizar
# Opcional en terminal print(df)
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [9]:
# Verificar si hay valores NaN en alguna columna

df.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

Resultados Preliminares

1.- la salida indica que no hay valores faltantes (NaN) en ninguna de las columnas del DataFrame, ya que todas las columnas tienen el valor False asociado. Esto significa que todas las columnas estÃ¡n completamente llenas de datos, sin valores nulos o faltantes.

2.- Por lo tanto, no hay ningÃºn procedimiento para aplicar sobre los NaNs.

3.- Por lo tanto, el dataset ya esta limpio.

4.- Por lo tanto, el dataset no necesita ser re-indexado.

5.- Lo que sÃ­ podemos hacer es renombrarlas al espaÃ±ol para que sean mÃ¡s amigables con hispanoparlantes.

In [10]:
# Columnas en el DataFrame
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [11]:
# Renombrar las columnas y re-asignar

df = df.rename(columns={
    'Age': 'Edad', 
    'Attrition': 'Renuncia', 
    'BusinessTravel': 'Viaje_de_Negocios', 
    'DailyRate': 'Tasa_Diaria', 
    'Department': 'Departamento', 
    'DistanceFromHome': 'Distancia_Desde_Casa', 
    'Education': 'EducaciÃ³n', 
    'EducationField': 'Campo_de_EducaciÃ³n', 
    'EmployeeCount': 'Conteo_de_Empleados', 
    'EmployeeNumber': 'NÃºmero_de_Empleado', 
    'EnvironmentSatisfaction': 'SatisfacciÃ³n_del_Entorno', 
    'Gender': 'GÃ©nero', 
    'HourlyRate': 'Tasa_por_Hora', 
    'JobInvolvement': 'Involucramiento_en_el_Trabajo', 
    'JobLevel': 'Nivel_de_Trabajo', 
    'JobRole': 'Rol_de_Trabajo', 
    'JobSatisfaction': 'SatisfacciÃ³n_en_el_Trabajo', 
    'MaritalStatus': 'Estado_Civil', 
    'MonthlyIncome': 'Ingreso_Mensual', 
    'MonthlyRate': 'Tasa_Mensual', 
    'NumCompaniesWorked': 'NÃºmero_de_Empresas_Trabajadas', 
    'Over18': 'Mayor_de_18', 
    'OverTime': 'Horas_Extra', 
    'PercentSalaryHike': 'Incremento_porcentual_de_Salario', 
    'PerformanceRating': 'CalificaciÃ³n_de_Rendimiento', 
    'RelationshipSatisfaction': 'SatisfacciÃ³n_en_las_Relaciones', 
    'StandardHours': 'Horas_EstÃ¡ndar', 
    'StockOptionLevel': 'Nivel_de_Acciones', 
    'TotalWorkingYears': 'Total_de_AÃ±os_Trabajados', 
    'TrainingTimesLastYear': 'Veces_de_CapacitaciÃ³n_Ãltimo_AÃ±o', 
    'WorkLifeBalance': 'Equilibrio_Vida_Trabajo', 
    'YearsAtCompany': 'AÃ±os_en_la_Empresa', 
    'YearsInCurrentRole': 'AÃ±os_en_el_Rol_Actual', 
    'YearsSinceLastPromotion': 'AÃ±os_desde_Ãltima_PromociÃ³n', 
    'YearsWithCurrManager': 'AÃ±os_con_el_Gerente_Actual'
})

In [12]:
df

,Edad,Renuncia,Viaje_de_Negocios,Tasa_Diaria,Departamento,Distancia_Desde_Casa,EducaciÃ³n,Campo_de_EducaciÃ³n,Conteo_de_Empleados,NÃºmero_de_Empleado,...,SatisfacciÃ³n_en_las_Relaciones,Horas_EstÃ¡ndar,Nivel_de_Acciones,Total_de_AÃ±os_Trabajados,Veces_de_CapacitaciÃ³n_Ãltimo_AÃ±o,Equilibrio_Vida_Trabajo,AÃ±os_en_la_Empresa,AÃ±os_en_el_Rol_Actual,AÃ±os_desde_Ãltima_PromociÃ³n,AÃ±os_con_el_Gerente_Actual
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [13]:
# Para el caso de la columna "Departamento"
df.Departamento.unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [14]:
df['Departamento'] = df['Departamento'].replace({
    'Sales': 'Ventas',
    'Research & Development': 'InvestigaciÃ³n y Desarrollo',
    'Human Resources': 'Recursos Humanos'
})

In [15]:
# Para el caso de la columna "Campo_de_EducaciÃ³n"
df.Campo_de_EducaciÃ³n.unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

In [16]:
df['Campo_de_EducaciÃ³n'] = df['Campo_de_EducaciÃ³n'].replace({
    'Life Sciences': 'Ciencias de la Vida',
    'Other': 'Otro',
    'Medical': 'Medicina',
    'Marketing': 'Mercadeo',
    'Technical Degree': 'TÃ­tulo TÃ©cnico',
    'Human Resources': 'Recursos Humanos'
})

In [17]:
# Para el caso de la columna "Viaje_de_Negocios"
df.Viaje_de_Negocios.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [18]:
df['Viaje_de_Negocios'] = df['Viaje_de_Negocios'].replace({
    'Travel_Rarely': 'Viaja Raramente',
    'Travel_Frequently': 'Viaja Frecuentemente',
    'Non-Travel': 'No Viaja'
})

In [19]:
# Por Ãºltimo para el caso de "Renuncia"
df.Renuncia.unique()

array(['Yes', 'No'], dtype=object)

In [20]:
df['Renuncia'] = df['Renuncia'].replace({
    'Yes': 'SÃ­',
    'No': 'No'
})

In [21]:
# Por ultimo en este apartado visualizamos el DataFrame y opcionalmente lo guardamos

df

# df.to_csv("datos_bedu_proyecto.csv",index=False)

,Edad,Renuncia,Viaje_de_Negocios,Tasa_Diaria,Departamento,Distancia_Desde_Casa,EducaciÃ³n,Campo_de_EducaciÃ³n,Conteo_de_Empleados,NÃºmero_de_Empleado,...,SatisfacciÃ³n_en_las_Relaciones,Horas_EstÃ¡ndar,Nivel_de_Acciones,Total_de_AÃ±os_Trabajados,Veces_de_CapacitaciÃ³n_Ãltimo_AÃ±o,Equilibrio_Vida_Trabajo,AÃ±os_en_la_Empresa,AÃ±os_en_el_Rol_Actual,AÃ±os_desde_Ãltima_PromociÃ³n,AÃ±os_con_el_Gerente_Actual
0,41,SÃ­,Viaja Raramente,1102,Ventas,1,2,Ciencias de la Vida,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Viaja Frecuentemente,279,InvestigaciÃ³n y Desarrollo,8,1,Ciencias de la Vida,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,SÃ­,Viaja Raramente,1373,InvestigaciÃ³n y Desarrollo,2,2,Otro,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Viaja Frecuentemente,1392,InvestigaciÃ³n y Desarrollo,3,4,Ciencias de la Vida,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Viaja Raramente,591,InvestigaciÃ³n y Desarrollo,2,1,Medicina,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Viaja Frecuentemente,884,InvestigaciÃ³n y Desarrollo,23,2,Medicina,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Viaja Raramente,613,InvestigaciÃ³n y Desarrollo,6,1,Medicina,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Viaja Raramente,155,InvestigaciÃ³n y Desarrollo,4,3,Ciencias de la Vida,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Viaja Frecuentemente,1023,Ventas,2,3,Medicina,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Viaja Raramente,628,InvestigaciÃ³n y Desarrollo,8,3,Medicina,1,2068,...,1,80,0,6,3,4,4,3,1,2